<div id="dash" class="tabs_screen">
  <br /><br /><br />
  <div class="row center-align">
    <div class="container">
      <div class="col s12">
        <img style="width: 50%" src="images/etslogo.jpg" /> <br />
        <br />
        <h3 style="font-weight:200;">
          Welcome to your
          <img style="width: 20%" src="images/logodark.png" /> Dashboard
        </h3>
      </div>
    </div>
  </div>
</div>
