<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=name%>'s Agent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="css/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>

  <body>
      
        <nav style="background: #2b0045" class="nav-extended">
                <div class="nav-wrapper container">
                  <a id="logo-container" href="#" class="brand-logo"
                    ><img src="images/logowhite.png"
                  /></a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="white-text" href="#">Logout</a></li>
                  </ul>
                  <br /><br />
                </div>
                <div class="nav-content container">
                  <ul class="tabs tabs-transparent">
                    <li class="tab"><a class="active"  onclick="showTab('credentials')">Wallet</a></li>
                    <li class="tab"><a onclick="showTab('relationships')">Connections</a></li>
                  </ul>
                </div>
              </nav>


              <div class="row">
                    <% include credentials.ejs %> 
                    <% include relationships.ejs %> 
              </div>

    <!-- <div id="menubar" class="w3-bar w3-theme">
      <a href="/logout" class="w3-right w3-bar-item w3-button w3-padding-16"
        >Logout</a
      >
      <a class="w3-right w3-bar-item w3-padding-16">Welcome <%=name%></a>
      <a href=""
        ><img
          class="w3-left w3-bar-item"
          width="55px"
          height="55px"
          src="/images/sovrinIcon.png"
      /></a>
      <a
        href="#relationships"
        id="relationships_link"
        class="w3-left w3-bar-item w3-button w3-padding-16 tab_link"
        
        >Relationships</a
      >
      <a
        href="#credentials"
        id="credentials_link"
        class="w3-left w3-bar-item w3-button w3-padding-16 tab_link"
        onclick="showTab('credentials')"
        >Credentials</a
      >
      <a
        href="#proofs"
        id="proofs_link"
        class="w3-left w3-bar-item w3-button w3-padding-16 tab_link"
        onclick="showTab('proofs')"
        >Proof Requests</a
      >
      <a
        href="#issuing"
        id="issuing_link"
        class="w3-left w3-bar-item w3-button w3-padding-16 tab_link"
        onclick="showTab('issuing')"
        >Issuing</a
      >
      <a
        href="#messages"
        id="messages_link"
        class="w3-left w3-bar-item w3-button w3-padding-16 tab_link"
        onclick="showTab('messages')"
        >Messages</a
      >
    </div> -->


    <!-- <div class="w3-row-padding w3-center w3-margin-top"> -->
    
      <!-- <% include proofs.ejs %> 
      <% include issuing.ejs %> 
      <% include relationships.ejs %> 
      <% include messages.ejs %> -->
    <!-- </div> -->



    <!-- <footer style="position:fixed;bottom:0;background: black;width: 100%;">
      <p style="text-align: center;color: white;">
        My Endpoint DID: <%=endpointDid%>
      </p>
    </footer> -->

    <script>


      function showTab(id) {
        let tabs = document.getElementsByClassName("tabs_screen");
        for (let i = 0; i < tabs.length; i++) {
          tabs[i].style.display = "none";
        }
        document.getElementById(id).style.display = "block";
        let tabLinks = document.getElementsByClassName("tab_link");
        for (i = 0; i < tabLinks.length; i++) {
          tabLinks[i].style["font-weight"] = "normal";
        }
        document.getElementById(`${id}_link`).style["font-weight"] = "bold";
      }

      let tabs = document.getElementsByClassName("tabs_screen");
      let hashlink = document.location.hash.replace("#", "");
      let found = false;
      for (let tab of tabs) {
        if (tab.id === hashlink) {
          showTab(hashlink);
          found = true;
        }
      }
      if (!found) {
        window.location.href = window.location.href + "#credentials";
        showTab("credentials");
      }

      function request(url, method, message) {
        console.log(message);
        console.log(`${method}ing ${url}: ${message}`);
        let xhttp = new XMLHttpRequest();
        xhttp.open(method, url, true);
        if (message) {
          xhttp.setRequestHeader("Content-Type", "application/json");
          xhttp.send(message);
        } else {
          xhttp.send();
        }
        location.reload();
      }

      showDiv(
        document.getElementById("currentProofRequest").value,
        "proofRequestsClass"
      );


      function showDiv(id, className) {
        let tabs = document.getElementsByClassName(className);
        for (let i = 0; i < tabs.length; i++) {
          tabs[i].style.display = "none";
        }
        console.log("showing div: ", id);
        document.getElementById(id).style.display = "block";
      }

      function validateProof(div, proof) {
        div.innerHTML =
          '<i class="fa fa-spinner fa-spin" style="font-size:100px;"></i>';
        let xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/api/proofs/validate", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        console.log(proof);
        xhttp.send(JSON.stringify(proof));
        xhttp.onload = function() {
          console.log(xhttp);
          if (xhttp.status === 200) {
            console.log("Validation succeeded");
            div.innerHTML =
              '<i class="fa fa-check" style="color:green;font-size:120px;"></i>';
          } else {
            div.innerHTML =
              '<i class="fa fa-times" style="color:red;font-size:120px;"></i>';
            console.log("Validation failed");
          }
        };
      }
    </script>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
               var elems = document.querySelectorAll('.modal');
               var instances = M.Modal.init(elems, options);
             });
             $(document).ready(function(){
               $('.modal').modal();
             });
           </script>
  </body>
</html>
